<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		{% extends "layout/basic.html" %}
	</head>
	<body>
		{% block h1 %}Стадионы России{% endblock %}
		{% block content %}
		{% if user.is_authenticated %}
      		<p>Привет, {{ user.username }}!</p>
    	{% else %}
        
    	{% endif %}
		<div class="b">
			<p>В нашей стране очень любят спортивные состязания. Футбольные матчи с большим удовольствием смотрят не только фанаты, но и все увлеченные спортом. У них неподдельный интерес вызывает противостояние двух команд на футбольном поле, которое можно увидеть у себя дома по телевизору. Но, но куда интереснее посмотреть игру на стадионе, так сказать, вживую. Для этого, тысячи фанатов и просто увлеченных игрой посещают спортивные стадионы, которых в нашей стране множество. Есть знаменитые, легендарные арены, на которых проходили знаковые спортивные состязания. Также имеются новые современные стадионы, которым только предстоит показать какой-то легендарный матч. Поэтому, В этой статье я решил рассказать читателям о самых популярных стадионах российских футбольных клубов. Поехали!
</p>
		</div>
		{% endblock %}
	</body>
