<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type"
		content="text/html; charset=utf-8">
		{% extends "layout/basic.html" %}
		{% block title %}Ростов арена{% endblock %}
	</head>
	<body>
		{% block h1 %}Ростов арена{% endblock %}
		{% block content %}
		<div class="b">
			<p>
				«Росто́в Аре́на», или «Росто́в-Аре́на» — футбольный стадион в Ростове-на-Дону, построенный в 2018 году специально для проведения матчей чемпионата мира (согласно решению ФИФА от 2 декабря 2010 года, вынесенному на основании официальной заявки России).<img src="../../static/Dnc3muR_S5Y.jpg" alt="" style="float: left; width: 500px; margin: 10px; border: 2px solid #fff; border-radius: 25px">
				Первый тестовый матч на арене прошёл 15 апреля 2018 года в рамках 26-го тура РФПЛ между командами «Ростов» и «СКА-Хабаровск» (2:0). Официальное открытие стадиона состоялось 13 мая 2018 года.
				Домашние матчи на стадионе проводит ФК «Ростов» (Ростов-на-Дону).
				Местом расположения стадиона был выбран левый берег реки Дон. Цена постройки составила 19,8 млрд рублей. В мае 2018 года на прилегающей к стадиону территории был открыт парк «Левобережный».
			</p>
			<h3>История</h3>
			<p>Стадион появился на левом берегу Дона, неподалеку от Гребного канала.
			Согласно изначальному плану должен был выделяться среди остальных стадионов, построенных к ЧМ-2018 по футболу, оригинальным архитектурным решением — северная трибуна открыта, за ней открывается вид на реку Дон, однако позже план был изменён: фасад по всему периметру сплошной и выполнен по технологии медиафасада. На крупнейшей площади города — Театральной площади — во время проведения ЧМ-2018 организована фан-зона с большими экранами, чтобы болельщики, которым не достались билеты на матчи, смогли здесь посмотреть игры всего чемпионата мира.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<h3>Расположение</h3>
			<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.3659009575745!2d39.73560781551295!3d47.20942242332336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b97ccdbbea2f%3A0x6701b2a5e6851845!2z0KDQvtGB0YLQvtCyINCQ0YDQtdC90LA!5e0!3m2!1sru!2sru!4v1622143021336!5m2!1sru!2sru" width="600" height="300" style="float: left;" allowfullscreen="" loading="lazy"></iframe></p>
			<form class="f">
				<input type="button" class="btnn" value="Like" name="buton" onclick="polz.value=+polz.value+1">
				<output name="polz">87</output>
				<img src="resources/PNG/217.png" alt="" style="width: 45px; border: 2px solid #fff; border-radius: 100%;" onclick="polz.value=+polz.value+1">
			</form>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>
			<p>.</p>	
		</div>
		{% endblock %}
	</body>
